{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class = "container py-5">
    <h1 style="text-align:center;">{% trans "Change Password" %}</h1>
    <div class="col-md-6 offset-md-3">
        <div class="card mb-4" id="forms">
          <div class="card-header">
            <small>
                With a this account, you can save time during checkout, access your cart from any device and view your transactions history.
                </small>
            </div>
            <div class="card-body">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
</div>
</div>
</div>
{% endblock %}
