{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <h5 class="h5 text-center text-uppercase mb-3">D'VHINE TREATS AMBIANCE</h5>
    <p class="mb-3">D’Vhine Treats Café and Restaurant Establish an  amazing place with a nice ambiance, <br> fresh air, appetizing  food and nice view of the city. Relaxing and comfortable  place to <br> hang out with your partner, family and friends.  Good place to escape the city hustle <br> and bustle.</p>
    <hr>
    <h5 class="h5 text-center text-uppercase mb-3">Our Story</h5>
    <p class="mb-3">D’Vhine Treats Café and Restaurant a startup food  establishment it was founded last July 2021. <br>The establishment is Located at Sitio Lumbang, Cabatangan 7000 Zamboanga City, Philippines.</p>
    <hr>
    <h5 class="h5 text-center text-uppercase mb-3">D'vhine treats location and vission</h5>
    <p class"mb-3">D’Vhine Treats Café and Restaurant is located
        on a hilltop in Barangay Cabatangan, <br> it aims to make the establishment well known throughout
        the city and thus making it <br> a rest house combined with a restaurant in the future and make the establishment one <br> of the top famous attractions in the city.
        </p>
    <hr>
    <h5 class="h5 text-center text-uppercase mb-3">Contact Us</h5>
    <p class="text-center"><strong>Phone Number:</strong> 09368346373</p>
    <p class="text-center"><strong>Email Address:</strong>  dvhinetreatscaferestaurant@gmail.com</p>
    <p class="text-center"><strong>Website:</strong> dvhinetreatscafe.com</p>
</div>>
{% endblock content %}