{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.417866943548!2d122.04648141473595!3d6.959934194971766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x325041119b92f6e5%3A0x82d93201a3093541!2sD&#39;Vhine%20treats!5e0!3m2!1sen!2sph!4v1648099829073!5m2!1sen!2sph" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <h5 class="h5 text-uppercase text-center mb-3">Location of the establishment in google map</h5>
        <p class="text-muted small text-center mb-3 text-uppercase mb-2">Tip: You can click the <strong><i>Directions</i></strong> to access from your location to the store</p>

        
</div>
{% endblock content %}